/* Inverse gradient fill hover effect on portfolio masonries */
/* copied and modified from werkstatt theme */

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover
  .thb-placeholder::after {
  transition: all 0.5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover
  .thb-placeholder {
  transition: all 0.25s linear;
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover {
  z-index: 1;
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover h2,
.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover .thb-categories {
  overflow: visible;
  text-align: left;
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover h2 span,
.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover
  .thb-categories
  span {
  display: inline;
  transform: translateY(0);
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover .thb-categories {
  line-height: 1;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.2em;
  opacity: 0.6;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover
  .thb-gradient-fill {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  will-change: clip-path;
  z-index: 20;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: translate3d(0, 0, 0);
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 80%));
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover .portfolio-link {
  opacity: 1;
  bottom: 0;
  top: auto;
  justify-content: flex-end !important;
  align-items: flex-start !important;
  text-align: left;
  background: none !important;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover
  .portfolio-link
  h2 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 15px;
  padding-right: 10%;
}

@media only screen and (width >= 64.0625em) {
  .thb-portfolio
    .type-portfolio.thb-inverse-gradient-fill-hover
    .portfolio-link {
    padding: 40px;
  }
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover.style2
  .portfolio-inner {
  background: none !important;
}

.thb-portfolio .type-portfolio.thb-inverse-gradient-fill-hover:hover {
  z-index: 2;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover:hover
  .thb-placeholder {
  inset: -10px;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover:hover.style2
  .portfolio-inner
  img,
.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover:hover.style2
  .portfolio-inner
  .thb-placeholder {
  opacity: 1;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover:hover
  .portfolio-link {
  top: auto;
}

.thb-portfolio
  .type-portfolio.thb-inverse-gradient-fill-hover:hover
  .thb-placeholder::after {
  opacity: 1;
}
